<a href="https://colab.research.google.com/github/krissemmy/Hamoye-Stage_A-Quiz/blob/main/intro_to_python_for_machine_learning(Quiz).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/FoodBalanceSheets_E_Africa_NOFLAG(1).csv', encoding='latin-1')

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [5]:
#  Question 2

# Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?
df[df['Element'] == 'Stock Variation'].groupby('Element').sum()

<ipython-input-5-2fd4ca1a58b4>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df[df['Element'] == 'Stock Variation'].groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91

In [6]:
#  Question 3

# What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?
mean = df.describe(include='all').loc['mean','Y2017']
std = df.describe(include='all').loc['std','Y2017']
print(f"""The Mean for 2017 across the entire dataset is: {round(mean,2)}
The Standard Deviation for year 2017 across the entire dataset is: {round(std,2)}""")

The Mean for 2017 across the entire dataset is: 140.92
The Standard Deviation for year 2017 across the entire dataset is: 1671.86

In [7]:
#  Question 4

# What is the total Protein supply quantity in Madagascar in 2015?
total_qty = df[(df['Element'] == 'Protein supply quantity (g/capita/day)') & (df['Area'] == 'Madagascar')]['Y2015'].sum()
round(total_qty,2)

173.05

In [8]:
#  Question 7

# Consider the following list of tuples:
# y = [(2, 4), (7, 8), (1, 5, 9)]

# How would you assign element 8 from the list to a variable x?

y = [(2, 4), (7, 8), (1, 5, 9)]
x= y[1][1]
x

8

In [9]:
#  Question 11

# Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

df[df['Element'] == 'Processing'].groupby('Element')['Element','Y2017'].sum()

<ipython-input-9-786ef31dbd7d>:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df[df['Element'] == 'Processing'].groupby('Element')['Element','Y2017'].sum()
<ipython-input-9-786ef31dbd7d>:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df[df['Element'] == 'Processing'].groupby('Element')['Element','Y2017'].sum()

               Y2017
Element
Processing  292836.0

In [10]:
#  Question 13

# What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [11]:
#  Question 14

# Answer the following questions based on the African food production dataset provided by the FAO website already provided
# What is the total sum of Wine produced in 2015 and 2018 respectively?

# Hint:
# Perform a groupby sum aggregation on ‘Item’

df[df['Item'] == 'Wine'].groupby('Item')[['Item','Y2015','Y2018']].sum()

<ipython-input-11-b9427d048b64>:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df[df['Item'] == 'Wine'].groupby('Item')[['Item','Y2015','Y2018']].sum()

        Y2015    Y2018
Item
Wine  4251.81  4039.32

In [12]:
#  Question 15

# What is the total number and percentage of missing data in 2014 to 3 decimal places?

total = df['Y2014'].count()
total_2014 = df['Y2014'].isnull().sum()
print(f"The total number and percentage of missing data in 2014 is: {total_2014}, {round((total_2014/total)*100, 3)}")

The total number and percentage of missing data in 2014 is: 1589, 2.677

In [13]:
#Question 16:
# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.
# Which of these Areas had the 7th lowest sum in 2017?

df.groupby('Area')[['Area','Y2017']].sum().sort_values(by='Y2017', ascending= True).head(10)

<ipython-input-13-b7c9ae29b396>:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Area')[['Area','Y2017']].sum().sort_values(by='Y2017', ascending= True).head(10)

                          Y2017
Area
Sudan (former)             0.00
Ethiopia PDR               0.00
Comoros                   59.84
Seychelles               442.34
Sao Tome and Principe  12662.63
Cabo Verde             14650.74
Guinea-Bissau          19102.77
Lesotho                21267.96
Botswana               22101.30
Djibouti               22729.91

In [14]:
#  Question 17

# Which year had the least correlation with ‘Element Code’?
correlation_matrix = df.corr()
# Get the correlations between 'Element Code' and each year
element_code_correlations = correlation_matrix['Element Code'].drop(['Element Code','Item Code','Area Code'])

# Find the year with the least correlation
result = element_code_correlations.idxmin()

print(f"Year with the least correlation: {result}\n")

Year with the least correlation: Y2016

<ipython-input-14-6eea2d71656d>:4: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = df.corr()

In [15]:
#  Question 18

# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.
#  Which of these Areas had the highest sum in 2017?
df.groupby('Area')[['Area','Y2017']].sum().sort_values(by='Y2017',  ascending=False).head()

<ipython-input-15-244d41c0e610>:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Area')[['Area','Y2017']].sum().sort_values(by='Y2017',  ascending=False).head()

                   Y2017
Area
Nigeria       1483268.23
Egypt          866379.92
South Africa   517590.54
Ethiopia       448683.76
Morocco        388495.36

In [16]:
# Question 19

# How would you check for the number of rows and columns in a pandas DataFrame named df?
df.shape

(60943, 12)

In [17]:
#  Question 20

# What is the total number of unique countries in the dataset?
df['Area'].nunique()

49